[Desktop Entry]
Comment=A Bible app written with Tauri
Exec=rosary
Icon=rosary
Name=Rosary
Terminal=false
Type=Application
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;