:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #f6f6f6;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
header {
    top: 20px;
    right:20px;
    text-align: center;
    position: fixed;
    z-index: 1;
    cursor:pointer;
    width:40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid black;
    background-color:white;
}
#menimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
iframe {
    border-color: transparent;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    bottom:0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
}
/*
#topper {
margin-top: 4.5em;
}
*/
td {
    width: 100%;
    radius:20px;
}
th {
    width: 50%;
}
tr {
    width: 100%;
    margin-top:20px;
}
table {
    width: 100%;
}
.inner {
    margin-top: 20px;
    margin-bottom: 20px;
}
@media only screen and (orientation: portrait) {
    .menu {
        width: 90vw;
        margin-top: 1px;
        text-align: center;
    }
}
@media only screen and (orientation: landscape) {
    .menu {
        width: 90vw;
        margin-top: 1px;
        text-align: center;
    }
}
.mentop {
    background-color: #fff;
    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.container {
    margin: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: 0.75s;
}
.logo.tauri:hover {
    filter: drop-shadow(0 0 2em #24c8db);
}
.row {
    display: flex;
    justify-content: center;
}
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}
h1 {
    text-align: center;
}
/*
input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #fff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
*/
button {
    cursor: pointer;
    margin-top:20%;
    border-radius: 20px;
    border-color:1px solid black;
}
button:hover {
    border-color: #d3d3d3;
}
button:active {
    border-color: #396cd8;
    background-color: #e8e8e8;
}
input,
button {
    outline: none;
}
#greet-input {
margin-right: 5px;
}
@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }
    iframe {
        border-color: #0f0f0f99;
    }
    a:hover {
        color: #24c8db;
    }
    input,
    button,
    header {
        color: #fff;
        background-color: #0f0f0f98;
    }
    .mentop {
        color: #fff;
        background-color: #0f0f0f98;
        border-color: #0f0f0f98;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        background-color: #f6f6f6;
        color: #000;
    }
    a:hover {
        color: #24c8db;
    }
    input,
    button,
    header {
        background-color: #fff;
        color: #000;
    }
    .mentop {
        background-color: #fff;
        color: #000;
    }
    button:active {
        background-color: #0f0f0f69;
    }
}
p {
    text-align: left;
    width:90vw;
    margin-left:5vw;

}
.license {
    margin-top:5px;
}
